<!DOCTYPE html>
<html ng-app="site">
    <head>
    	
    	<!-- Bootstrap Core CSS -->
		<link href="resources/bootstrap/css/bootstrap.css" rel="stylesheet">
    	
    	<!-- javascript resources -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js"></script>
        <script type="text/javascript" src="resources/bootstrap/js/bootstrap.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="resources/js/gmaps-functions.js"></script>
        <script type="text/javascript" src="resources/js/camViewerApp.js"></script>
        <script type="text/javascript" src="resources/js/lightCtrl.js"></script>
        <script type="text/javascript" src="resources/js/boroughCtrl.js"></script>
    </head>
    <body id="body" ng-controller="lightCtrl">
	    <div class="container">
	    	<nav class="navbar navbar-default">
				<div class="container-fluid">
  					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" ng-controller="boroughCtrl" ng-init=getBoroughs()>
						<ul class="nav nav-pills">
							<li><a href="#" onclick="center()" >Center Map</a></li>
							<li><a href="#" onclick="addBoroughs()" >Add Boroughs</a></li>
							<li class="dropdown">
          						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          							Dropdown <span class="caret"></span>
          						</a>
          						<ul class="dropdown-menu">
								    <li ng-repeat="borough in boroughs">
								    	<a href="#" ng-click="showBorough(borough.codeId)">{{borough.nom}}</a>
								    </li>
								</ul>
							</li>
							<li><a href="#" ng-click="getLights()" >Add Lights</a></li>
						</ul>
					</div>
  				</div>
  			</nav>
	    	<div class="row">
	    		<div class="col-sm-12">
			    	<div class="panel panel-primary">
				        <div class="panel-heading">
				              <h3 class="panel-title">Montreal Lights</h3>
				        </div>
				        <div class="panel-body">
				        	<p>* Select a borough to show lights</p>
				            <div id="map" class="center-block"></div>
<!-- 				            <p><button type="button" class="btn btn-lg btn-primary center-block" ng-click="getLights()">Show lights</button></p> -->
<!-- 				            <br> -->
				            <div ng-show="properties.northSouthStreet != null" id="lightProperties" class="panel panel-default">
					            <div class="panel-heading text-center">
					            	{{properties.northSouthStreet}} - {{properties.eastWestStreet}}
					            </div>
					            <img ng-src="{{properties.urlImageLive?properties.urlImageLive:null}}" class="img-rounded img-responsive" style="height: 100%; width: 100%;"/>
					        </div>
				        </div>
			       	</div>
				</div>
		     </div>
		</div>
    </body>
</html>